@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

.logo {
  margin-bottom: 0.2rem;
  margin-left: -5rem;
  margin-right: 4rem;
  width: 2.5rem;
}

.prof {
  margin-block-start: 1.8rem;
  font-size: 40px;
}

.navbar {
  font-family: 'Libre Franklin', sans-serif;
  height: 50px;
  line-height: 50px;
  background-color: rgba(255, 3, 3, 0.603)
}

.navbarbrand {
  color: white;
  border-bottom: 2px solid transparent;
}

.navbarbrand:hover {
  border-color: white;
  transition: 0.5s;
}

.navbar .navbarbrand:hover {
  border-color: white;
  transition: 0.5s ease-in-out;
}

.navlink {
  margin: 1rem;
}

.navbar .navlink {
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.navbar .navlink:hover {
  color: lightsteelblue;
}

.link {
  color: white;
  margin-left: 13%;
}

.linkdois {
  color: white;
  margin-left: 7px;
  font-size: 25px;
  margin-block-start: 1.5rem;
}
