.logo {
  margin-bottom: 0.2rem;
  margin-left: -5rem;
  margin-right: 4rem;
  width: 2.5rem;
}

.prof {
  margin-block-start: 0.9rem;
  font-size: 40px;
}

.navbar {
  height: 50px;
  line-height: 50px;
  background-color: red;
}

.navbarbrand {
  color: white;
  border-bottom: 2px solid transparent;
}

.navbarbrand:hover {
  border-color: white;
  transition: 0.5s;
}

.navbar .navbarbrand:hover {
  border-color: white;
  transition: 0.5s;
}

.navbar .navlink {
  color: white;
  margin-right: 15px;
  transition: color 0.3s ease-in-out;
}

.navbar .navlink:hover {
  color: lightsteelblue;
}
