.navbar {
  height: 50px;
  line-height: 50px;
  background-color: red;
}

.navbarbrand {
  color: white;
  border-bottom: 2px solid transparent;
}

.navbarbrand:hover {
  border-color: white;
}

.navbar .navbarbrand:hover {
  border-color: white;
}

.navbar .navlink {
  color: white;
  margin-right: 15px;
  transition: color 0.3s ease-in-out;
}

.navbar .navlink:hover {
  color: lightsteelblue;
}
