/* cadastro.module.css */

.meucard {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
}

.cardTitle {
  font-size: 24px;
  color: #212529;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
}

.formControl {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 8px;
}

.button {
  background-color: #00dd1d;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #14720c;
}

.message {
  color: #fff;
  margin-top: 10px;
}
