.tableestilizada {
    font-size: 17px;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.tableestilizada th,
.tableestilizada td {
    padding: 12px;
    text-align: center;
}

.tableestilizada th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tableestilizada tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tableestilizada tbody tr:hover {
    background-color: #e5e5e5;
}