.pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.199);
    backdrop-filter: blur(8px);
}

.titulo {
    text-align: center;
    color: white;
    font-size: 24px;
}